@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Playfair+Display:400,500,600,700,800,900|Poppins:300,400,500,600,700,800,900&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: border-box;
          box-shadow: border-box;
}

.container {
  background-color: #7510f7;
}

.menu {
  background-color: #7510f7;
}

.menu .topnav {
  overflow: hidden;
  position: relative;
}

.menu .topnav #mylinks {
  background-color: #7510f7;
  display: none;
}

.menu .topnav a {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 0.8em 0.9em;
}

.menu .topnav a:hover {
  color: #000000;
  text-decoration: underline;
}

.menu .topnav .icon {
  background: #7510f7;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.menu .topnav #logo {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  margin-top: -0.4em;
  text-align: left;
}

.menu #profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 170px;
}

.content {
  text-align: center;
  background-color: #7510f7;
  height: 15vh;
}

.hero {
  text-align: center;
  background-color: #7510f7;
  height: 15vh;
}

.hero .typewrite {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-size: 6vw;
  text-decoration: none;
  letter-spacing: 0.08em;
}

.hero button {
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  background: transparent;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.08em;
  border: 1px solid #ffffff;
  border-radius: 25px;
  display: inline-block;
  float: none;
  padding: 0.4em 1.2em;
  margin: 0.4em;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.about {
  margin-top: 2em;
}

.about .title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #7510f7;
  font-weight: 600;
}

@media screen and (min-width: 480px) {
  .about .title {
    font-size: 1.7rem;
  }
}

.about .me-img {
  height: auto;
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -1em;
}

.about .me-img:hover {
  width: 25%;
}

.about .me-h2 {
  font-family: "Poppins", sans-serif;
  color: #009999;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-bottom: -1em;
}

@media screen and (min-width: 480px) {
  .about .me-h2 {
    margin-bottom: -0.5em;
  }
}

.about .me-h2:hover {
  font-size: 1.6rem;
}

.about .me-para {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  color: #000000;
  letter-spacing: 0.1em;
  padding-bottom: 1em;
}

.roadmap .title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #7510f7;
  font-weight: 600;
}

.roadmap .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.roadmap img {
  margin: 0.5em;
  width: 3em;
}

.progressbar .title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #7510f7;
  font-weight: 600;
}

.progressbar .skill-progress {
  margin-bottom: 0.6em;
}

.progressbar .skill-title {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #666666;
  font-weight: 600;
}

.progressbar .progress {
  background-color: #e6e6e6;
  border-radius: 1.5em;
  height: 1.2em;
  width: 18em;
  margin: 1.2em auto;
}

@media screen and (min-width: 480px) {
  .progressbar .progress {
    height: 1.2em;
    width: 27em;
    margin: 0 auto;
  }
}

.progressbar .progress-done {
  background: -webkit-gradient(linear, left top, right top, from(#ff0844), to(#ffb199));
  background: linear-gradient(to right, #ff0844 0%, #ffb199 100%);
  -webkit-box-shadow: 0 3px 3px -5px #ff0844, 0 2px 5px #ffb199;
          box-shadow: 0 3px 3px -5px #ff0844, 0 2px 5px #ffb199;
  border-radius: 1.5em;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  -webkit-transition: 4s ease 0.3s;
  transition: 4s ease 0.3s;
}

.progressbar .progress-done1 {
  background: -webkit-gradient(linear, left top, right top, from(#1477c8), to(#5eabeb));
  background: linear-gradient(to right, #1477c8 0%, #5eabeb 100%);
  -webkit-box-shadow: 0 3px 3px -5px #1477c8, 0 2px 5px #5eabeb;
          box-shadow: 0 3px 3px -5px #1477c8, 0 2px 5px #5eabeb;
}

.progressbar .progress-done2 {
  background: -webkit-gradient(linear, left top, right top, from(#c471f5), to(#fa71cd));
  background: linear-gradient(to right, #c471f5 0%, #fa71cd 100%);
  -webkit-box-shadow: 0 3px 3px -5px #c471f5, 0 2px 5px #fa71cd;
          box-shadow: 0 3px 3px -5px #c471f5, 0 2px 5px #fa71cd;
}

.progressbar .progress-done3 {
  background: -webkit-gradient(linear, left top, right top, from(#ff5858), to(#f09819));
  background: linear-gradient(to right, #ff5858 0%, #f09819 100%);
  -webkit-box-shadow: 0 3px 3px -5px #ff5858, 0 2px 5px #f09819;
          box-shadow: 0 3px 3px -5px #ff5858, 0 2px 5px #f09819;
}

.progressbar .progress-done4 {
  background: -webkit-gradient(linear, left top, right top, from(#48be58), to(#acd649));
  background: linear-gradient(to right, #48be58 0%, #acd649 100%);
  -webkit-box-shadow: 0 3px 3px -5px #96e6a1, 0 2px 5px #acd649;
          box-shadow: 0 3px 3px -5px #96e6a1, 0 2px 5px #acd649;
}

.progressbar .progress-done5 {
  background: -webkit-gradient(linear, left top, right top, from(#2614c8), to(#6b5fd8));
  background: linear-gradient(to right, #2614c8 0%, #6b5fd8 100%);
  -webkit-box-shadow: 0 3px 3px -5px #2614c8, 0 2px 5px #5445d8;
          box-shadow: 0 3px 3px -5px #2614c8, 0 2px 5px #5445d8;
}

.portfolio {
  margin-top: 3em;
}

.portfolio .title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #7510f7;
  font-weight: 600;
}

.portfolio .portfolio-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  color: #666666;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.portfolio .port-img {
  width: 90%;
  height: auto;
  border-radius: 0.5em;
}

.portfolio .port-button {
  background: transparent;
  border: 1px solid #7510f7;
  border-radius: 0.3em;
  display: inline-block;
  float: none;
  text-align: center;
  padding: 0.3em;
  font-size: 1.2em;
  font-weight: 600;
  color: #7510f7;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1em;
  margin: 0.4em 0.01em 0 0.2em;
}

.portfolio .port-button:hover {
  background: #8c39f9;
  color: #ffffff;
}

.portfolio .me-para {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  color: #000000;
  letter-spacing: 0.1em;
  padding-bottom: 1em;
}

.education {
  height: 70vh;
  width: 100%;
  display: none;
}

.education .title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #7510f7;
  font-weight: 600;
}

.education .certificate {
  width: 100%;
}

.education embed {
  width: 90%;
}

.contact {
  background: #7510f7;
  height: 181vh;
  position: relative;
  margin-top: 5em;
}

.contact .hire-me {
  background-color: #141c3a;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
  height: 37vh;
  width: 90vw;
  position: absolute;
  margin: -4em 0 0 1em;
  border-radius: 0.5em;
}

.contact .title2 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

.contact .me-para2 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.2em;
  color: #ffffff;
  margin-bottom: 1.5em;
}

.contact .button2 {
  border: 1px solid #7510f7;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  border-radius: 1.5em;
  background: transparent;
  display: inline-block;
  float: none;
  color: #ffffff;
  text-align: center;
  padding: 0.5em 1.5em;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1em;
}

.contact:hover {
  background-color: #7510f7;
}

.contact .contact-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.1em;
  position: absolute;
  margin: 11em auto auto 1.4em;
}

.contact-form {
  width: 90vw;
  background-color: "Poppins", sans-serif;
  padding: 1em;
  position: absolute;
  margin-top: 18em;
}

.contact-form #name,
.contact-form #cname,
.contact-form #email,
.contact-form #ptitle,
.contact-form #subject {
  background: transparent;
}

.contact-form input::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contact-form input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contact-form input::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contact-form input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contact-form textarea::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contact-form textarea:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contact-form textarea::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contact-form textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #009999;
  border-radius: 0.4em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 0.2em;
  margin-bottom: 1em;
}

.contact-form textarea {
  height: 8em;
}

.contact-form input[type=submit] {
  background: transparent;
  color: #ffffff;
  padding: 0.3em 0.7em;
  border: 3px solid #4CAF50;
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
  border-radius: 0.4em;
  cursor: pointer;
}

.contact-form input[type=submit]:hover {
  background-color: #45a049;
}

.contact-form #contact-info {
  font-family: "Poppins", sans-serif;
  font-size: 1.4em;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-top: 3em;
}

.contact-form .info-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-decoration: underline;
}

.contact-form .contact-detail {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  color: #ffffff;
  font-weight: 500;
}

.contact-form #copyright {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  color: #ffffff;
  font-weight: 200;
  letter-spacing: 0.1em;
}

.contact-form .media-icon {
  margin-right: 1em;
  cursor: pointer;
}

.contact-form .media-icon:hover {
  height: 3em;
  width: 3em;
}
/*# sourceMappingURL=main.css.map */