@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Playfair+Display:400,500,600,700,800,900|Poppins:300,400,500,600,700,800,900&display=swap');

$primary-font: 'Poppins',
sans-serif;
$secondary-font:'Playfair Display',
serif;
$background-color: #7510f7;
$text-color : #ffffff;


body {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
  /* font-family: 'Playfair Display', serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif; */
}

.container {
  background-color: $background-color;

}

.menu {
  background-color: $background-color;



  div {
    overflow: hidden;
    position: relative;

    nav {
      background-color: $background-color;
      display: none;
    }

    a {
      font-family: $primary-font;
      font-size: 1.2rem;
      color: $text-color;
      text-decoration: none;
      text-align: center;
      display: block;
      padding: 14px 16px;

      &:hover {
        color: #000000;
      }
    }

    .icon {
      background: $background-color;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }

    #logo {
      color: $text-color;
      font-size: 1.6rem;
      font-weight: 600;
      text-align: left;
    }
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }

}

.content {
  text-align: center;
  background-color: $background-color;
  height: 15vh;
}

.hero {
  text-align: center;
  background-color: $background-color;
  height: 15vh;


  a {
    color: #ffffff;
    font-family: $secondary-font;
    font-size: 6vw;
    text-decoration: none;
    letter-spacing: 0.08rem;
  }

  button {
    font-family: $primary-font;
    font-size: 1rem;
    background: transparent;
    color: $text-color;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    border: 2px solid white;
    border-radius: 25px;
    display: inline-block;
    float: none;
    padding: 0.4em 1.2em;
    margin: 5px;

    &:hover {
      color: #000000;
    }

  }
}

.about {
  margin-top: 80px;
  padding-bottom: 30px;

  .title {
    font-family: $primary-font;
    font-size: 2rem;
    color: $background-color;
    font-weight: 600;
  }

  .me-img {
    height: auto;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:hover {
      width: 25%;
    }
  }

  .me-h2 {
    font-family: $primary-font;
    color: #009999;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;

    &:hover {
      font-size: 1.6rem;
    }
  }

  .me-para {
    font-family: $primary-font;
    font-size: 1.2rem;
    color: #000000;
    letter-spacing: 2px;
  }
}

.roadmap {
  .title {
    font-family: $primary-font;
    font-size: 2rem;
    color: $background-color;
    font-weight: 600;
  }

  .skills {
    font-family: $primary-font;
    font-size: 1rem;
    color: #666666;
    margin-bottom: -15px;
  }

  img {
    margin-bottom: 30px;
    width: 120px;
  }
}

.progressbar {
  .title {
    font-family: $primary-font;
    font-size: 2rem;
    color: $background-color;
    font-weight: 600;
  }

  .skill-progress {
    margin-bottom: 10px;
  }

  .progress {
    background-color: #f2f2f2;
    border-radius: 20px;
    height: 25px;
    width: 450px;
    margin: 20px auto;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .progress-done {
    background: linear-gradient(to right, #ff0844 0%, #ffb199 100%);
    box-shadow: 0 3px 3px -5px #ff0844, 0 2px 5px #ffb199;
    border-radius: 20px;
    color: $text-color;
    font-family: $primary-font;
    font-size: 0.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 4s ease 0.3s;
    -webkit-transition: 4s ease 0.3s;
    -moz-transition: 4s ease 0.3s;
    -ms-transition: 4s ease 0.3s;
    -o-transition: 4s ease 0.3s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .progress-done1 {
    background: linear-gradient(to right, #1477c8 0%, #5eabeb 100%);
    box-shadow: 0 3px 3px -5px #1477c8, 0 2px 5px #5eabeb;
  }

  .progress-done2 {
    background: linear-gradient(to right, #c471f5 0%, #fa71cd 100%);
    box-shadow: 0 3px 3px -5px #c471f5, 0 2px 5px #fa71cd;
  }

  .progress-done3 {
    background: linear-gradient(to right, #ff5858 0%, #f09819 100%);
    box-shadow: 0 3px 3px -5px #ff5858, 0 2px 5px #f09819;
  }

  .progress-done4 {
    background: linear-gradient(to right, #48be58 0%, #acd649 100%);
    box-shadow: 0 3px 3px -5px #96e6a1, 0 2px 5px #acd649;
  }

  .progress-done5 {
    background: linear-gradient(to right, #2614c8 0%, #6b5fd8 100%);
    box-shadow: 0 3px 3px -5px #2614c8, 0 2px 5px #5445d8;
  }
}

.portfolio {
  margin-top: 50px;

  .title {
    font-family: $primary-font;
    font-size: 2rem;
    color: $background-color;
    font-weight: 600;
  }

  .portfolio-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: #666666;
    font-weight: bold;
    margin-bottom: 20px;
  }

  img {
    width: 90%;
    height: auto;
  }

  button {
    background: transparent;
    border: 2px solid #7510f7;
    border-radius: 5px;
    display: inline-block;
    float: none;
    text-align: center;
    padding: 6px;
    font-size: 1.4em;
    font-weight: bold;
    color: $background-color;
    font-family: $primary-font;
    letter-spacing: 1px;
    margin: 5px;

    &:hover {
      background: #8c39f9;
      color: $text-color;
    }
  }

  p {
    font-family: $primary-font;
    font-size: 1.2rem;
    color: #000000;
    letter-spacing: 2px;
  }
}

.education {
  embed {
    height: 399px;
    width: 283px;
    margin-bottom: 200px;
  }
}

.contact {
  background: $background-color;
  height: 170vh;
  position: relative;

  .hire-me {
    background-color: #141c3a;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
    height: 40vh;
    width: 90vw;
    position: absolute;
    margin-top: -4rem;
    margin-left: 1rem;
    border-radius: 12px;

  }

  h1 {
    color: $text-color;
    font-family: $primary-font;
    font-size: 2rem;
  }

  p {
    font-family: $primary-font;
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: $text-color;
    margin-bottom: 50px;
  }

  button {
    border: 2px solid $background-color;
    padding: 1.25em 2em;
    font-weight: 400;
    background: transparent;
    cursor: pointer;
    border-radius: 25px;
    background: transparent;
    display: inline-block;
    float: none;
    color: $text-color;
    text-align: center;
    padding: 10px 30px;
    font-size: 1rem;
    font-family: $primary-font;
    letter-spacing: 1px;

  }

  &:hover {
    background-color: $background-color;
  }
}