@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Playfair+Display:400,500,600,700,800,900|Poppins:300,400,500,600,700,800,900&display=swap');

$primary-font: 'Poppins',
sans-serif;
$secondary-font:'Playfair Display',
serif;
$background-color: #7510f7;
$text-color : #ffffff;
$secondary-color: #009999;

@mixin title {
  font-family: $primary-font;
  font-size: calc(1vw + 1.2rem);
  color: $background-color;
  font-weight: 600;
}

@mixin paragraph {
  font-family: $primary-font;
  font-size: calc(0.5vw + 0.8rem);
  color: #000000;
  letter-spacing: 0.1em;
  padding-bottom: 1em;
}

@mixin placeholder {
  font-family: $primary-font;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: $text-color;
}

@mixin mq($arg) {
  @media screen and (min-width : $arg) {
    @content;
  }
}


body {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

.container {
  background-color: $background-color;
}





header {

  background: $background-color;
  color: $text-color;
  padding: 0.5em 1em;
  position: relative;

  &::after {
    content: "";
    clear: both;
    display: block;
  }

  .mobile-menu {
    // width: 95%;
    // max-width: 1000px;
    margin: 0 auto;
  }
}

.logo {
  float: left;
  font-size: calc(0.5vw + 1rem);
  font-family: $primary-font;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;

  // span {
  //   font-weight: 400;
  // }
}

.site-nav {
  position: fixed;
  top: 0;
  right: 0%;
  bottom: 0;
  width: 100%;
  background: $background-color;
  transform: translateX(100%);
  transition: transform ease-in-out 750ms;
}

.site-nav--open {
  transform: translateX(0);
}

@supports (clip-path: circle(0px)) {
  .site-nav {
    transform: none;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;

    &.site-nav--closed {
      transition-delay: 200ms;
    }
  }

  .site-nav--open {
    clip-path: circle(250% at top right);
  }
}

.site-nav {
  ul {
    margin: 0;
    padding: 0;
    height: 70%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }

  li {
    height: 100%;

    // &:not(:last-child) {
    //   border-bottom: 2px solid $secondary-color;
    // }
  }

  a {
    color: $text-color;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $primary-font;
    font-size: calc(0.7vw + 0.7rem);
    letter-spacing: 0.1em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
      background: $secondary-color;
      color: $text-color;
    }
  }
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: #ebd5d5;
}

.menu-toggle {
  display: block;
  font-size: 0.7rem;
  border: 0;
  background: 0;
  padding: 1em;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
  z-index: 1;

  // &:focus {
  //   outline: 1px solid $text-color;
  // }
}

.open:focus {
  outline: none;
}

.hamburger {
  content: "";
  display: block;
  background: $text-color;
  height: 3px;
  width: 2em;
  border-radius: 3px;
  transition: transform ease-in-out 500ms, opacity linear 300ms;

  &::before,
  &::after {
    content: "";
    display: block;
    background: $text-color;
    height: 3px;
    width: 2em;
    border-radius: 3px;
    transition: transform ease-in-out 500ms, opacity linear 300ms;
  }

  &::before {
    transform: translateY(-6px);
  }

  &::after {
    transform: translateY(3px);
  }
}

.open .hamburger {
  transform: rotate(45deg);

  &::before {
    opacity: 0;
  }

  &::after {
    transform: translateY(-3px) rotate(-90deg);
  }
}

:root {
  --bezier: cubic-bezier(0.34, 0.05, 0.52, 1);
}

.menu-toggle {
  transition: transform var(--bezier) 250ms;

  &.open:hover {
    transform: scale(1.2);
  }
}

.site-nav a {
  transition: background var(--bezier) 150ms;
}

.open {
  &.menu-toggle:hover .hamburger {
    transform: rotate(1.125turn);
  }

  .hamburger {
    transform: rotate(45deg);
  }
}


.site-nav li {
  opacity: 0;
  transition: opacity 350ms linear;
}

.site-nav--open li {
  animation: fadeIn var(--bezier) 750ms forwards;

  &:nth-child(1) {
    animation-delay: 100ms;
  }

  &:nth-child(2) {
    animation-delay: 200ms;
  }

  &:nth-child(3) {
    animation-delay: 300ms;
  }

  &:nth-child(4) {
    animation-delay: 400ms;
  }

  &:nth-child(5) {
    animation-delay: 500ms;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  75% {
    opacity: .2;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  70% {
    opactiy: 0;
  }

  100% {
    opacity: 0;
    transform: translateX(500px);
  }
}

.site-nav--closed li {
  opacity: 1;
  animation: fadeOut var(--bezier) 500ms forwards;

  &:nth-child(1) {
    animation-delay: 500ms;
  }

  &:nth-child(2) {
    animation-delay: 400ms;
  }

  &:nth-child(3) {
    animation-delay: 300ms;
  }

  &:nth-child(4) {
    animation-delay: 200ms;
  }

  &:nth-child(5) {
    animation-delay: 100ms;
  }
}

#profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 150px;

  @include mq(768px) {
    width: 200px;
  }
}



.content {
  text-align: center;
  background-color: $background-color;
  height: 15vh;
}

.hero {
  text-align: center;
  background-color: $background-color;

  .typewrite {
    color: $text-color;
    font-family: $secondary-font;
    font-size: calc(2vw + 0.5em);
    text-decoration: none;
    letter-spacing: 0.08em;
  }
}

button {
  font-family: $primary-font;
  font-size: calc(0.5vw + 0.6rem);
  background: transparent;
  color: $text-color;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.08em;
  border: 1px solid $text-color;
  border-radius: 25px;
  display: inline-block;
  float: none;
  padding: 0.4em 1.2em;
  margin: 0.6em 0 2em 0.6em;

}


.about {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;


  .title {
    width: 100%;

    h1 {
      @include title;

    }
  }

  .about-me {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-self: center;
  }

  .me {

    .me-img {
      height: auto;
      width: 15%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -1em;

    }
  }

  .me-h2 {
    font-family: $primary-font;
    color: $secondary-color;
    font-size: calc(1vw + 0.8rem);
    font-weight: 600;
    letter-spacing: 0.1em;
  }

  .me-para {
    @include paragraph;
  }
}



.roadmap {


  .title {
    width: 100%;

    h1 {
      @include title;

    }
  }

  .road-bar {

    .skills {


      .img-skill {
        img {
          width: calc(5vw + 2em);
          margin: 0.6em;
        }
      }
    }

    .progressbar {


      .title {
        width: 100%;

        h1 {
          @include title;

        }
      }


      .skill-progress {
        margin-bottom: 0.6em;
      }

      .skill-title {
        font-family: $primary-font;
        font-size: 0.8em;
        color: #666666;
        font-weight: 600;
        margin-bottom: -1em;

      }

      .skill-progress {

        margin: 0 auto;

        .progress {
          background-color: #e6e6e6;
          border-radius: 1.5em;
          height: 1em;
          width: calc(30vw + 10em);
          margin: 1.2em auto;


        }

        .progress-done {
          background: linear-gradient(to right, #ff0844 0%, #ffb199 100%);
          box-shadow: 0 3px 3px -5px #ff0844, 0 2px 5px #ffb199;
          border-radius: 1.5em;
          color: $text-color;
          font-family: $primary-font;
          font-size: 0.8rem;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 0;
          opacity: 0;
          transition: 4s ease 0.3s;
          -webkit-transition: 4s ease 0.3s;
          -moz-transition: 4s ease 0.3s;
          -ms-transition: 4s ease 0.3s;
          -o-transition: 4s ease 0.3s;
          -webkit-border-radius: 1.5em;
          -moz-border-radius: 1.5em;
          -ms-border-radius: 1.5em;
          -o-border-radius: 1.5em;
        }

        .progress-done1 {
          background: linear-gradient(to right, #1477c8 0%, #5eabeb 100%);
          box-shadow: 0 3px 3px -5px #1477c8, 0 2px 5px #5eabeb;
        }

        .progress-done2 {
          background: linear-gradient(to right, #c471f5 0%, #fa71cd 100%);
          box-shadow: 0 3px 3px -5px #c471f5, 0 2px 5px #fa71cd;
        }

        .progress-done3 {
          background: linear-gradient(to right, #ff5858 0%, #f09819 100%);
          box-shadow: 0 3px 3px -5px #ff5858, 0 2px 5px #f09819;
        }

        .progress-done4 {
          background: linear-gradient(to right, #48be58 0%, #acd649 100%);
          box-shadow: 0 3px 3px -5px #96e6a1, 0 2px 5px #acd649;
        }

        .progress-done5 {
          background: linear-gradient(to right, #2614c8 0%, #6b5fd8 100%);
          box-shadow: 0 3px 3px -5px #2614c8, 0 2px 5px #5445d8;
        }
      }
    }
  }


}


.portfolio {
  margin-top: 4em;


  .title {
    @include title;


  }

  .port-blurb {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;




  }

  .portfolio-title {
    font-family: $primary-font;
    font-size: calc(0.5vw + 1rem);
    color: #666666;
    font-weight: bold;
    margin-bottom: 0.5em;



  }

  .port-img {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 0.4em;

  }

  .port-button {
    background: transparent;
    border: 1px solid $background-color;
    border-radius: 0.3em;
    display: inline-block;
    float: none;
    text-align: center;
    padding: 0.2em;
    font-size: 1rem;
    font-weight: 500;
    color: $background-color;
    font-family: $primary-font;
    letter-spacing: 0.1em;
    margin: 0.4em 0.01em 0 0.2em;

    @include mq(1200px) {
      padding: 0.3em;
      font-size: 1.2rem;
      font-weight: 600;
      margin: 1em 0.2em;
    }
  }

  .me-para {
    @include paragraph;

    @include mq(768px) {
      font-size: 1.2rem;
    }

    @include mq(1200px) {
      font-size: 1rem;
    }
  }
}


.contact {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-template-rows: repeat(2fr 1fr 2fr auto);
  gap: 1em;
  margin-top: 4em;
  align-items: center;
  justify-items: center;
  background: $background-color;

  .hire-me {
    margin-top: -3em;
    background: #141c3a;
    border-radius: 0.6em;
    width: 90vw;
  }


  .title2 {
    color: $text-color;
    font-size: clamp(1.2em, 2.5vw, 4em);
    font-family: $primary-font;
  }


  .me-para2 {
    color: $text-color;
    font-size: clamp(1em, 1.5vw, 4em);
    font-family: $primary-font;
  }



  .button2 {
    color: $text-color;
    font-size: clamp(0.7em, 1vw, 3em);
    font-family: $primary-font;
    margin-bottom: 2em;
  }



  .form-title {
    color: $text-color;
    font-size: clamp(1em, 2.5vw, 2em);
    font-family: $primary-font;
    letter-spacing: 0.2em;
  }

  .contact-form {
    form {
      display: flex;
      flex-direction: column;
      width: clamp(280px, 40vw, 50vw);
      background-color: $primary-font;
      align-items: center;

      #name,
      #cname,
      #email,
      #ptitle,
      #subject {
        background: transparent;
      }

      input::placeholder {
        @include placeholder;

      }

      textarea::placeholder {
        @include placeholder;
      }

      input[type=text],
      input[type=email],
      textarea {
        width: 100%;
        padding: 1em;
        border: 1px solid $secondary-color;
        border-radius: 0.4em;
        box-sizing: border-box;
        margin-top: 0.2em;
        margin-bottom: 1em;
        -webkit-border-radius: 0.4em;
        -moz-border-radius: 0.4em;
        -ms-border-radius: 0.4em;
        -o-border-radius: 0.4em;
      }

      textarea {
        height: 8em;
      }

      input[type=submit] {
        background: transparent;
        // padding: 0.2em 0.7em;
        padding: 1% 2%;
        color: $text-color;
        border: 2px solid #4CAF50;
        font-family: $primary-font;
        font-size: clamp(1em, 2.5vw, 1.5em);
        font-weight: 400;
        letter-spacing: 0.1em;
        color: $text-color;
        border-radius: 0.4em;
        cursor: pointer;
      }

      input[type=submit]:hover {
        background-color: #45a049;
      }

    }
  }

  .contact-info {
    font-family: $primary-font;
    color: $text-color;
    font-size: clamp(0.9em, 2vw, 1.1em);
    font-weight: 400;
    letter-spacing: 0.1em;
  }
}