@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Playfair+Display:400,500,600,700,800,900|Poppins:300,400,500,600,700,800,900&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: border-box;
          box-shadow: border-box;
}

.container {
  background-color: #7510f7;
}

header {
  background: #7510f7;
  color: #ffffff;
  padding: 0.5em 1em;
  position: relative;
}

header::after {
  content: "";
  clear: both;
  display: block;
}

header .mobile-menu {
  margin: 0 auto;
}

.logo {
  float: left;
  font-size: calc(0.5vw + 1rem);
  font-family: "Poppins", sans-serif;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}

.site-nav {
  position: fixed;
  top: 0;
  right: 0%;
  bottom: 0;
  width: 100%;
  background: #7510f7;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform ease-in-out 750ms;
  transition: -webkit-transform ease-in-out 750ms;
  transition: transform ease-in-out 750ms;
  transition: transform ease-in-out 750ms, -webkit-transform ease-in-out 750ms;
}

.site-nav--open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@supports ((-webkit-clip-path: circle(0px)) or (clip-path: circle(0px))) {
  .site-nav {
    -webkit-transform: none;
            transform: none;
    -webkit-clip-path: circle(0px at top right);
            clip-path: circle(0px at top right);
    -webkit-transition: -webkit-clip-path ease-in-out 700ms;
    transition: -webkit-clip-path ease-in-out 700ms;
    transition: clip-path ease-in-out 700ms;
    transition: clip-path ease-in-out 700ms, -webkit-clip-path ease-in-out 700ms;
  }
  .site-nav.site-nav--closed {
    -webkit-transition-delay: 200ms;
            transition-delay: 200ms;
  }
  .site-nav--open {
    -webkit-clip-path: circle(250% at top right);
            clip-path: circle(250% at top right);
  }
}

.site-nav ul {
  margin: 0;
  padding: 0;
  height: 70%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.site-nav li {
  height: 100%;
}

.site-nav a {
  color: #ffffff;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: calc(0.7vw + 0.7rem);
  letter-spacing: 0.1em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-nav a:hover, .site-nav a:focus {
  background: #009999;
  color: #ffffff;
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: #ebd5d5;
}

.menu-toggle {
  display: block;
  font-size: 0.7rem;
  border: 0;
  background: 0;
  padding: 1em;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
  z-index: 1;
}

.open:focus {
  outline: none;
}

.hamburger {
  content: "";
  display: block;
  background: #ffffff;
  height: 3px;
  width: 2em;
  border-radius: 3px;
  -webkit-transition: opacity linear 300ms, -webkit-transform ease-in-out 500ms;
  transition: opacity linear 300ms, -webkit-transform ease-in-out 500ms;
  transition: transform ease-in-out 500ms, opacity linear 300ms;
  transition: transform ease-in-out 500ms, opacity linear 300ms, -webkit-transform ease-in-out 500ms;
}

.hamburger::before, .hamburger::after {
  content: "";
  display: block;
  background: #ffffff;
  height: 3px;
  width: 2em;
  border-radius: 3px;
  -webkit-transition: opacity linear 300ms, -webkit-transform ease-in-out 500ms;
  transition: opacity linear 300ms, -webkit-transform ease-in-out 500ms;
  transition: transform ease-in-out 500ms, opacity linear 300ms;
  transition: transform ease-in-out 500ms, opacity linear 300ms, -webkit-transform ease-in-out 500ms;
}

.hamburger::before {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.hamburger::after {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.open .hamburger {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  -webkit-transform: translateY(-3px) rotate(-90deg);
          transform: translateY(-3px) rotate(-90deg);
}

:root {
  --bezier: cubic-bezier(0.34, 0.05, 0.52, 1);
}

.menu-toggle {
  -webkit-transition: -webkit-transform var(--bezier) 250ms;
  transition: -webkit-transform var(--bezier) 250ms;
  transition: transform var(--bezier) 250ms;
  transition: transform var(--bezier) 250ms, -webkit-transform var(--bezier) 250ms;
}

.menu-toggle.open:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.site-nav a {
  -webkit-transition: background var(--bezier) 150ms;
  transition: background var(--bezier) 150ms;
}

.open.menu-toggle:hover .hamburger {
  -webkit-transform: rotate(1.125turn);
          transform: rotate(1.125turn);
}

.open .hamburger {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.site-nav li {
  opacity: 0;
  -webkit-transition: opacity 350ms linear;
  transition: opacity 350ms linear;
}

.site-nav--open li {
  -webkit-animation: fadeIn var(--bezier) 750ms forwards;
          animation: fadeIn var(--bezier) 750ms forwards;
}

.site-nav--open li:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.site-nav--open li:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.site-nav--open li:nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.site-nav--open li:nth-child(4) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.site-nav--open li:nth-child(5) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  75% {
    opacity: .2;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  75% {
    opacity: .2;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  70% {
    opactiy: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  70% {
    opactiy: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
}

.site-nav--closed li {
  opacity: 1;
  -webkit-animation: fadeOut var(--bezier) 500ms forwards;
          animation: fadeOut var(--bezier) 500ms forwards;
}

.site-nav--closed li:nth-child(1) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.site-nav--closed li:nth-child(2) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.site-nav--closed li:nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.site-nav--closed li:nth-child(4) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.site-nav--closed li:nth-child(5) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

#profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 150px;
}

@media screen and (min-width: 768px) {
  #profile-img {
    width: 200px;
  }
}

.content {
  text-align: center;
  background-color: #7510f7;
  height: 15vh;
}

.hero {
  text-align: center;
  background-color: #7510f7;
}

.hero .typewrite {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-size: calc(2vw + 0.5em);
  text-decoration: none;
  letter-spacing: 0.08em;
}

button {
  font-family: "Poppins", sans-serif;
  font-size: calc(0.5vw + 0.6rem);
  background: transparent;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.08em;
  border: 1px solid #ffffff;
  border-radius: 25px;
  display: inline-block;
  float: none;
  padding: 0.4em 1.2em;
  margin: 0.6em 0 2em 0.6em;
}

.about {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.about .title {
  width: 100%;
}

.about .title h1 {
  font-family: "Poppins", sans-serif;
  font-size: calc(1vw + 1.2rem);
  color: #7510f7;
  font-weight: 600;
}

.about .about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.about .me .me-img {
  height: auto;
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -1em;
}

.about .me-h2 {
  font-family: "Poppins", sans-serif;
  color: #009999;
  font-size: calc(1vw + 0.8rem);
  font-weight: 600;
  letter-spacing: 0.1em;
}

.about .me-para {
  font-family: "Poppins", sans-serif;
  font-size: calc(0.5vw + 0.8rem);
  color: #000000;
  letter-spacing: 0.1em;
  padding-bottom: 1em;
}

.roadmap .title {
  width: 100%;
}

.roadmap .title h1 {
  font-family: "Poppins", sans-serif;
  font-size: calc(1vw + 1.2rem);
  color: #7510f7;
  font-weight: 600;
}

.roadmap .road-bar .skills .img-skill img {
  width: calc(5vw + 2em);
  margin: 0.6em;
}

.roadmap .road-bar .progressbar .title {
  width: 100%;
}

.roadmap .road-bar .progressbar .title h1 {
  font-family: "Poppins", sans-serif;
  font-size: calc(1vw + 1.2rem);
  color: #7510f7;
  font-weight: 600;
}

.roadmap .road-bar .progressbar .skill-progress {
  margin-bottom: 0.6em;
}

.roadmap .road-bar .progressbar .skill-title {
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  color: #666666;
  font-weight: 600;
  margin-bottom: -1em;
}

.roadmap .road-bar .progressbar .skill-progress {
  margin: 0 auto;
}

.roadmap .road-bar .progressbar .skill-progress .progress {
  background-color: #e6e6e6;
  border-radius: 1.5em;
  height: 1em;
  width: calc(30vw + 10em);
  margin: 1.2em auto;
}

.roadmap .road-bar .progressbar .skill-progress .progress-done {
  background: -webkit-gradient(linear, left top, right top, from(#ff0844), to(#ffb199));
  background: linear-gradient(to right, #ff0844 0%, #ffb199 100%);
  -webkit-box-shadow: 0 3px 3px -5px #ff0844, 0 2px 5px #ffb199;
          box-shadow: 0 3px 3px -5px #ff0844, 0 2px 5px #ffb199;
  border-radius: 1.5em;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 4s ease 0.3s;
  -webkit-transition: 4s ease 0.3s;
  -moz-transition: 4s ease 0.3s;
  -ms-transition: 4s ease 0.3s;
  -o-transition: 4s ease 0.3s;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
}

.roadmap .road-bar .progressbar .skill-progress .progress-done1 {
  background: -webkit-gradient(linear, left top, right top, from(#1477c8), to(#5eabeb));
  background: linear-gradient(to right, #1477c8 0%, #5eabeb 100%);
  -webkit-box-shadow: 0 3px 3px -5px #1477c8, 0 2px 5px #5eabeb;
          box-shadow: 0 3px 3px -5px #1477c8, 0 2px 5px #5eabeb;
}

.roadmap .road-bar .progressbar .skill-progress .progress-done2 {
  background: -webkit-gradient(linear, left top, right top, from(#c471f5), to(#fa71cd));
  background: linear-gradient(to right, #c471f5 0%, #fa71cd 100%);
  -webkit-box-shadow: 0 3px 3px -5px #c471f5, 0 2px 5px #fa71cd;
          box-shadow: 0 3px 3px -5px #c471f5, 0 2px 5px #fa71cd;
}

.roadmap .road-bar .progressbar .skill-progress .progress-done3 {
  background: -webkit-gradient(linear, left top, right top, from(#ff5858), to(#f09819));
  background: linear-gradient(to right, #ff5858 0%, #f09819 100%);
  -webkit-box-shadow: 0 3px 3px -5px #ff5858, 0 2px 5px #f09819;
          box-shadow: 0 3px 3px -5px #ff5858, 0 2px 5px #f09819;
}

.roadmap .road-bar .progressbar .skill-progress .progress-done4 {
  background: -webkit-gradient(linear, left top, right top, from(#48be58), to(#acd649));
  background: linear-gradient(to right, #48be58 0%, #acd649 100%);
  -webkit-box-shadow: 0 3px 3px -5px #96e6a1, 0 2px 5px #acd649;
          box-shadow: 0 3px 3px -5px #96e6a1, 0 2px 5px #acd649;
}

.roadmap .road-bar .progressbar .skill-progress .progress-done5 {
  background: -webkit-gradient(linear, left top, right top, from(#2614c8), to(#6b5fd8));
  background: linear-gradient(to right, #2614c8 0%, #6b5fd8 100%);
  -webkit-box-shadow: 0 3px 3px -5px #2614c8, 0 2px 5px #5445d8;
          box-shadow: 0 3px 3px -5px #2614c8, 0 2px 5px #5445d8;
}

.portfolio {
  margin-top: 4em;
}

.portfolio .title {
  font-family: "Poppins", sans-serif;
  font-size: calc(1vw + 1.2rem);
  color: #7510f7;
  font-weight: 600;
}

.portfolio .port-blurb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.portfolio .portfolio-title {
  font-family: "Poppins", sans-serif;
  font-size: calc(0.5vw + 1rem);
  color: #666666;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.portfolio .port-img {
  width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 0.4em;
}

.portfolio .port-button {
  background: transparent;
  border: 1px solid #7510f7;
  border-radius: 0.3em;
  display: inline-block;
  float: none;
  text-align: center;
  padding: 0.2em;
  font-size: 1rem;
  font-weight: 500;
  color: #7510f7;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1em;
  margin: 0.4em 0.01em 0 0.2em;
}

@media screen and (min-width: 1200px) {
  .portfolio .port-button {
    padding: 0.3em;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1em 0.2em;
  }
}

.portfolio .me-para {
  font-family: "Poppins", sans-serif;
  font-size: calc(0.5vw + 0.8rem);
  color: #000000;
  letter-spacing: 0.1em;
  padding-bottom: 1em;
}

@media screen and (min-width: 768px) {
  .portfolio .me-para {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio .me-para {
    font-size: 1rem;
  }
}

.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ()[1fr];
      grid-template-columns: repeat(1fr);
  -ms-grid-rows: (1fr 2fr auto)[2fr];
      grid-template-rows: repeat(2fr 1fr 2fr auto);
  gap: 1em;
  margin-top: 4em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background: #7510f7;
}

.contact .hire-me {
  margin-top: -3em;
  background: #141c3a;
  border-radius: 0.6em;
  width: 90vw;
}

.contact .title2 {
  color: #ffffff;
  font-size: clamp(1.2em, 2.5vw, 4em);
  font-family: "Poppins", sans-serif;
}

.contact .me-para2 {
  color: #ffffff;
  font-size: clamp(1em, 1.5vw, 4em);
  font-family: "Poppins", sans-serif;
}

.contact .button2 {
  color: #ffffff;
  font-size: clamp(0.7em, 1vw, 3em);
  font-family: "Poppins", sans-serif;
  margin-bottom: 2em;
}

.contact .form-title {
  color: #ffffff;
  font-size: clamp(1em, 2.5vw, 2em);
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.2em;
}

.contact .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: clamp(280px, 40vw, 50vw);
  background-color: "Poppins", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-form form #name,
.contact .contact-form form #cname,
.contact .contact-form form #email,
.contact .contact-form form #ptitle,
.contact .contact-form form #subject {
  background: transparent;
}

.contact .contact-form form input::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contact .contact-form form input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contact .contact-form form input::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contact .contact-form form input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contact .contact-form form textarea::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contact .contact-form form textarea:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contact .contact-form form textarea::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contact .contact-form form textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contact .contact-form form input[type=text],
.contact .contact-form form input[type=email],
.contact .contact-form form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #009999;
  border-radius: 0.4em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 0.2em;
  margin-bottom: 1em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
}

.contact .contact-form form textarea {
  height: 8em;
}

.contact .contact-form form input[type=submit] {
  background: transparent;
  padding: 1% 2%;
  color: #ffffff;
  border: 2px solid #4CAF50;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1em, 2.5vw, 1.5em);
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
  border-radius: 0.4em;
  cursor: pointer;
}

.contact .contact-form form input[type=submit]:hover {
  background-color: #45a049;
}

.contact .contact-info {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: clamp(0.9em, 2vw, 1.1em);
  font-weight: 400;
  letter-spacing: 0.1em;
}
