@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Playfair+Display:400,500,600,700,800,900|Poppins:300,400,500,600,700,800,900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-shadow: border-box;

  /* font-family: 'Playfair Display', serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif; */

}

.container {
  background-color: #7510f7;
}

.topnav {
  overflow: hidden;
  position: relative;
}


.topnav #myLinks {
  background-color: #7510f7;
  display: none;

}


.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
  text-align: center;
  font-family: 'Poppins', sans-serif;


}

.topnav a.icon {
  background: #7510f7;
  display: block;
  position: absolute;
  right: 0;
  top: 0;

}


.topnav a:hover {

  color: #000000;
}



#profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}


#logo {
  color: #ffffff;
  font-size: 2.2em;
  font-weight: bold;
  text-align: left;

}

.content {
  text-align: center;
  background-color: ;
  height: 15vh;
}

.typewrite {
  font-size: 6vw;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.08em;

}

.button {
  background: transparent;
  border: 1px solid white;
  display: inline-block;
  float: none;
  text-align: center;
  padding: 8px;
  font-size: 0.8em;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  margin: 5px;

}

.button:hover {

  background: #8c39f9
}