@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Playfair+Display:400,500,600,700,800,900|Poppins:300,400,500,600,700,800,900&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: border-box;
          box-shadow: border-box;
}

.container {
  background-color: #7510f7;
}

.menu {
  background-color: #7510f7;
}

.menu .topnav {
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .menu .topnav {
    position: relative;
  }
}

.menu #mylinks {
  background-color: #7510f7;
  display: none;
}

@media screen and (min-width: 1200px) {
  .menu #mylinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1em 2em 0 0;
    cursor: pointer;
  }
}

a {
  font-family: "Poppins", sans-serif;
  font-size: calc(0.7vw + 0.5rem);
  letter-spacing: 0.1em;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 0.8em 0.9em;
  cursor: pointer;
}

.icon {
  background: #7510f7;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .icon {
    display: none;
  }
}

#logo {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: calc(1vw + 0.5em);
  font-weight: 600;
  margin-top: -0.4em;
  text-align: left;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  #logo {
    position: absolute;
    margin: 0.1em 0 0 0;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

#profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 150px;
}

@media screen and (min-width: 768px) {
  #profile-img {
    width: 200px;
  }
}

.content {
  text-align: center;
  background-color: #7510f7;
  height: 15vh;
}

.hero {
  text-align: center;
  background-color: #7510f7;
}

.hero .typewrite {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-size: calc(2vw + 0.5em);
  text-decoration: none;
  letter-spacing: 0.08em;
}

button {
  font-family: "Poppins", sans-serif;
  font-size: calc(0.5vw + 0.6rem);
  background: transparent;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.08em;
  border: 1px solid #ffffff;
  border-radius: 25px;
  display: inline-block;
  float: none;
  padding: 0.4em 1.2em;
  margin: 0.6em 0 2em 0.6em;
}

.about {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.about .title {
  width: 100%;
}

.about .title h1 {
  font-family: "Poppins", sans-serif;
  font-size: calc(1vw + 1.2rem);
  color: #7510f7;
  font-weight: 600;
}

.about .about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.about .me .me-img {
  height: auto;
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -1em;
}

.about .me-h2 {
  font-family: "Poppins", sans-serif;
  color: #009999;
  font-size: calc(1vw + 0.8rem);
  font-weight: 600;
  letter-spacing: 0.1em;
}

.about .me-para {
  font-family: "Poppins", sans-serif;
  font-size: calc(0.5vw + 0.8rem);
  color: #000000;
  letter-spacing: 0.1em;
  padding-bottom: 1em;
}

.roadmap .title {
  width: 100%;
}

.roadmap .title h1 {
  font-family: "Poppins", sans-serif;
  font-size: calc(1vw + 1.2rem);
  color: #7510f7;
  font-weight: 600;
}

.roadmap .road-bar .skills .img-skill img {
  width: calc(5vw + 2em);
  margin: 0.6em;
}

.roadmap .road-bar .progressbar .title {
  width: 100%;
}

.roadmap .road-bar .progressbar .title h1 {
  font-family: "Poppins", sans-serif;
  font-size: calc(1vw + 1.2rem);
  color: #7510f7;
  font-weight: 600;
}

.roadmap .road-bar .progressbar .skill-progress {
  margin-bottom: 0.6em;
}

.roadmap .road-bar .progressbar .skill-title {
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  color: #666666;
  font-weight: 600;
  margin-bottom: -1em;
}

.roadmap .road-bar .progressbar .skill-progress {
  margin: 0 auto;
}

.roadmap .road-bar .progressbar .skill-progress .progress {
  background-color: #e6e6e6;
  border-radius: 1.5em;
  height: 1em;
  width: calc(30vw + 10em);
  margin: 1.2em auto;
}

.roadmap .road-bar .progressbar .skill-progress .progress-done {
  background: -webkit-gradient(linear, left top, right top, from(#ff0844), to(#ffb199));
  background: linear-gradient(to right, #ff0844 0%, #ffb199 100%);
  -webkit-box-shadow: 0 3px 3px -5px #ff0844, 0 2px 5px #ffb199;
          box-shadow: 0 3px 3px -5px #ff0844, 0 2px 5px #ffb199;
  border-radius: 1.5em;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 4s ease 0.3s;
  -webkit-transition: 4s ease 0.3s;
  -moz-transition: 4s ease 0.3s;
  -ms-transition: 4s ease 0.3s;
  -o-transition: 4s ease 0.3s;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
}

.roadmap .road-bar .progressbar .skill-progress .progress-done1 {
  background: -webkit-gradient(linear, left top, right top, from(#1477c8), to(#5eabeb));
  background: linear-gradient(to right, #1477c8 0%, #5eabeb 100%);
  -webkit-box-shadow: 0 3px 3px -5px #1477c8, 0 2px 5px #5eabeb;
          box-shadow: 0 3px 3px -5px #1477c8, 0 2px 5px #5eabeb;
}

.roadmap .road-bar .progressbar .skill-progress .progress-done2 {
  background: -webkit-gradient(linear, left top, right top, from(#c471f5), to(#fa71cd));
  background: linear-gradient(to right, #c471f5 0%, #fa71cd 100%);
  -webkit-box-shadow: 0 3px 3px -5px #c471f5, 0 2px 5px #fa71cd;
          box-shadow: 0 3px 3px -5px #c471f5, 0 2px 5px #fa71cd;
}

.roadmap .road-bar .progressbar .skill-progress .progress-done3 {
  background: -webkit-gradient(linear, left top, right top, from(#ff5858), to(#f09819));
  background: linear-gradient(to right, #ff5858 0%, #f09819 100%);
  -webkit-box-shadow: 0 3px 3px -5px #ff5858, 0 2px 5px #f09819;
          box-shadow: 0 3px 3px -5px #ff5858, 0 2px 5px #f09819;
}

.roadmap .road-bar .progressbar .skill-progress .progress-done4 {
  background: -webkit-gradient(linear, left top, right top, from(#48be58), to(#acd649));
  background: linear-gradient(to right, #48be58 0%, #acd649 100%);
  -webkit-box-shadow: 0 3px 3px -5px #96e6a1, 0 2px 5px #acd649;
          box-shadow: 0 3px 3px -5px #96e6a1, 0 2px 5px #acd649;
}

.roadmap .road-bar .progressbar .skill-progress .progress-done5 {
  background: -webkit-gradient(linear, left top, right top, from(#2614c8), to(#6b5fd8));
  background: linear-gradient(to right, #2614c8 0%, #6b5fd8 100%);
  -webkit-box-shadow: 0 3px 3px -5px #2614c8, 0 2px 5px #5445d8;
          box-shadow: 0 3px 3px -5px #2614c8, 0 2px 5px #5445d8;
}

.portfolio {
  margin-top: 4em;
}

.portfolio .title {
  font-family: "Poppins", sans-serif;
  font-size: calc(1vw + 1.2rem);
  color: #7510f7;
  font-weight: 600;
}

.portfolio .port-blurb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.portfolio .portfolio-title {
  font-family: "Poppins", sans-serif;
  font-size: calc(0.5vw + 1rem);
  color: #666666;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.portfolio .port-img {
  width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 0.4em;
}

.portfolio .port-button {
  background: transparent;
  border: 1px solid #7510f7;
  border-radius: 0.3em;
  display: inline-block;
  float: none;
  text-align: center;
  padding: 0.2em;
  font-size: 1rem;
  font-weight: 500;
  color: #7510f7;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1em;
  margin: 0.4em 0.01em 0 0.2em;
}

@media screen and (min-width: 1200px) {
  .portfolio .port-button {
    padding: 0.3em;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1em 0.2em;
  }
}

.portfolio .me-para {
  font-family: "Poppins", sans-serif;
  font-size: calc(0.5vw + 0.8rem);
  color: #000000;
  letter-spacing: 0.1em;
  padding-bottom: 1em;
}

@media screen and (min-width: 768px) {
  .portfolio .me-para {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio .me-para {
    font-size: 1rem;
  }
}

.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ()[1fr];
      grid-template-columns: repeat(1fr);
  -ms-grid-rows: (1fr 2fr auto)[2fr];
      grid-template-rows: repeat(2fr 1fr 2fr auto);
  gap: 1em;
  margin-top: 4em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background: #7510f7;
}

.contact .hire-me {
  margin-top: -3em;
  background: #141c3a;
  border-radius: 0.6em;
  width: 90vw;
}

.contact .title2 {
  color: #ffffff;
  font-size: clamp(1.2em, 2.5vw, 4em);
  font-family: "Poppins", sans-serif;
}

.contact .me-para2 {
  color: #ffffff;
  font-size: clamp(1em, 1.5vw, 4em);
  font-family: "Poppins", sans-serif;
}

.contact .button2 {
  color: #ffffff;
  font-size: clamp(0.7em, 1vw, 3em);
  font-family: "Poppins", sans-serif;
  margin-bottom: 2em;
}

.contact .form-title {
  color: #ffffff;
  font-size: clamp(1em, 2.5vw, 2em);
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.2em;
}

.contact .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: clamp(280px, 40vw, 50vw);
  background-color: "Poppins", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-form form #name,
.contact .contact-form form #cname,
.contact .contact-form form #email,
.contact .contact-form form #ptitle,
.contact .contact-form form #subject {
  background: transparent;
}

.contact .contact-form form input::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contact .contact-form form input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contact .contact-form form input::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contact .contact-form form input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contact .contact-form form textarea::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contact .contact-form form textarea:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contact .contact-form form textarea::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contact .contact-form form textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.contact .contact-form form input[type=text],
.contact .contact-form form input[type=email],
.contact .contact-form form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #009999;
  border-radius: 0.4em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 0.2em;
  margin-bottom: 1em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
}

.contact .contact-form form textarea {
  height: 8em;
}

.contact .contact-form form input[type=submit] {
  background: transparent;
  padding: 1% 2%;
  color: #ffffff;
  border: 2px solid #4CAF50;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1em, 2.5vw, 1.5em);
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
  border-radius: 0.4em;
  cursor: pointer;
}

.contact .contact-form form input[type=submit]:hover {
  background-color: #45a049;
}

.contact .contact-info {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: clamp(0.9em, 2vw, 1.1em);
  font-weight: 400;
  letter-spacing: 0.1em;
}
